# Ignore IDE files
.idea
.vscode

lines.sh
debug_segfault.sh

ideas.md
references.md
handedness.xcf
bigint_to_str.png

# SIMD, untracked for now until I decide how to implement it
include/algebra/linear/flinear/fvector_sse.h
test/algebra/linear/flinear/tfvector_sse.c

# Ignore object files and other build artifacts
*.o

# Latex build files
*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.nav
*.snm
*.vrb
*.fls
*.fdb_latexmk
*.synctex.gz
*.blg
*.bbl
*.idx
*.ind
*.ilg
*.glo
*.gls
*.ist
*.hd

# Performance testing
perf/
