zig-out/
zig-cache/
.zig-cache/
think/

# Ignore IDE files
.idea
.vscode

lines.sh
debug_segfault.sh

ideas.md
references.md
handedness.xcf
bigint_to_str.png

# SIMD, untracked for now until I decide how to implement it
include/algebra/linear/flinear/fvector_sse.h
test/algebra/linear/flinear/tfvector_sse.c

# Ignore object files and other build artifacts
*.o
*.a
*.exe
.tmp
.log
Thumbs.db

# Performance testing
perf/
